<app-editor [(ngModel)]="data" [submitting]="submitting" (submit)="submit()">

  <nz-tabset nzType="card" nzSize="small" [formGroup]="basicForm" (change)="change()">
    <nz-tab nzTitle="基本信息">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="name" required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">类型</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-select formControlName="type" (ngModelChange)="change()" (change)="change()">
            <nz-option nzValue="tcp-server" nzLabel="TCP服务器"></nz-option>
            <nz-option nzValue="tcp-client" nzLabel="TCP客户端"></nz-option>
            <nz-option nzValue="udp-server" nzLabel="UDP服务器" nzDisabled></nz-option>
            <nz-option nzValue="udp-client" nzLabel="UDP客户端" nzDisabled></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="basicForm.value.type==='tcp-client'">
        <nz-form-label [nzSpan]="5">地址</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="address" required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">端口</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <!--      <input nz-input formControlName="port" type="number" min="1" max="65535"/>-->
          <nz-input-number formControlName="port" [nzMin]="1" [nzMax]="65535" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">超时(s)</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-input-number formControlName="timeout" [nzMin]="5" [nzMax]="600" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">启用</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-switch formControlName="enable"></nz-switch>
        </nz-form-control>
      </nz-form-item>

    </nz-tab>


    <nz-tab nzTitle="注册包" formGroupName="register">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">启用</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <!--          <input nz-input formControlName="enable" required/>-->
          <nz-switch formControlName="enable"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="basicForm.value.register.enable">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">正则表达式</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="">
            <input nz-input formControlName="regex"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-tab>

    <nz-tab nzTitle="心跳包" formGroupName="heartbeat">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">启用</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <!--          <input nz-input formControlName="enable" required/>-->
          <nz-switch formControlName="enable"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="basicForm.value.heartbeat.enable">

        <nz-form-item>
          <nz-form-label [nzSpan]="5">间隔</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="">
            <nz-input-number formControlName="interval" [nzMin]="5" [nzMax]="600" [nzStep]="1"></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">正则表达式</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="">
            <input nz-input formControlName="regex"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">内容</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="">
            <input nz-input formControlName="text"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-tab>

    <nz-tab nzTitle="控制包" formGroupName="control">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">启用</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <!--          <input nz-input formControlName="enable" required/>-->
          <nz-switch formControlName="enable"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="basicForm.value.control.enable">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">前缀</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="">
            <input nz-input formControlName="prefix"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">后缀</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="">
            <input nz-input formControlName="suffix"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">响应脚本</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="">
            <app-js-editor formControlName="script"></app-js-editor>
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-tab>

    <nz-tab nzTitle="协议适配" formGroupName="adapter">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">启用</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <!--          <input nz-input formControlName="enable" required/>-->
          <nz-switch formControlName="enable"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="basicForm.value.adapter.enable">

        <nz-form-item>
          <nz-form-label [nzSpan]="5">协议</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="">
            <nz-select nzAllowClear formControlName="type" (ngModelChange)="change()" (change)="change()">
              <nz-option nzValue="modbus-tcp" nzLabel="Modbus TCP"></nz-option>
              <nz-option nzValue="modbus-rtu" nzLabel="Modbus RTU"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">协议参数</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <app-yaml-editor formControlName="options"></app-yaml-editor>
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-tab>

    <nz-tab nzTitle="设备列表">
      <app-acceptor-edit-devices formControlName="devices"></app-acceptor-edit-devices>
    </nz-tab>

  </nz-tabset>


</app-editor>
