<nz-row [nzGutter]="16">
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="projectTotal" [nzTitle]="'项目总数'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="deviceTotal" [nzTitle]="'设备总数'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="deviceOpen" [nzTitle]="'开机数量'"></nz-statistic>
  </nz-col>
</nz-row>
<div class="projects" *ngFor="let prj of projects">
  <div class="project">
    <div>{{prj.name}}</div>
    <div class="devices">
      <div class="device" *ngFor="let dev of prj.devices">
        DEV
      </div>
    </div>
  </div>
</div>
