<form [formGroup]="formGroup" (change)="change()">

  <nz-form-item>
    <nz-form-label [nzSpan]="5">启用</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="">
      <nz-switch formControlName="enable"></nz-switch>
    </nz-form-control>
  </nz-form-item>

  <div *ngIf="formGroup.value.enable">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">DTU类型</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="">
        <nz-select nzAllowClear formControlName="type" (ngModelChange)="change()" (change)="change()">
          <nz-option nzValue="usr.cn" nzLabel="有人物联网"></nz-option>
          <nz-option nzValue="tastek" nzLabel="塔石物联网"></nz-option>
          <nz-option nzValue="config" nzLabel="银尔达（合宙）"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">变量检查</nz-form-label>
      <nz-form-control [nzSpan]="12">
	  
      </nz-form-control>
    </nz-form-item>
  </div>

</form>

