<form [formGroup]="formGroup" (change)="change()">

  <nz-form-item>
    <nz-form-label [nzSpan]="5">启用</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="">
      <nz-switch formControlName="enable"></nz-switch>
    </nz-form-control>
  </nz-form-item>

  <div *ngIf="formGroup.value.enable">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">DTU类型</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="">
        <nz-select nzAllowClear formControlName="type" (ngModelChange)="change()" (change)="change()">
          <nz-option nzValue="usr.cn" nzLabel="有人物联网"></nz-option>
          <nz-option nzValue="tastek" nzLabel="塔石物联网"></nz-option>
          <nz-option nzValue="config" nzLabel="银尔达（合宙）"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">参数</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="">
        <app-yaml-editor formControlName="options" (ngModelChange)="change()"></app-yaml-editor>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">读取参数</nz-form-label>
      <nz-form-control [nzSpan]="12">

        <nz-select formControlName="variables" nzMode="multiple" nzPlaceHolder="" (ngModelChange)="change()">
          <nz-option nzLabel="固件" nzValue="firmware"></nz-option>
          <nz-option nzLabel="IMEI" nzValue="imei"></nz-option>
          <nz-option nzLabel="ICCID" nzValue="iccid"></nz-option>
          <nz-option nzLabel="GPS" nzValue="gps"></nz-option>
          <nz-option nzLabel="信号强度" nzValue="rssi"></nz-option>
          <nz-option nzLabel="网络" nzValue="net"></nz-option>
          <nz-option nzLabel="APN" nzValue="apn"></nz-option>
        </nz-select>

      </nz-form-control>
    </nz-form-item>
  </div>

</form>

