<app-editor [(ngModel)]="data" [submitting]="submitting" (submit)="submit()">

  <nz-tabset nzType="card" nzSize="small" [formGroup]="basicForm" (change)="change()">
    <nz-tab nzTitle="基本信息">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="name" required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">超时(s)</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-input-number formControlName="timeout" [nzMin]="5" [nzMax]="600" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">企业</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <app-choose-company formControlName="company_id" [showClear]="true"></app-choose-company>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">启用</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-switch formControlName="enable"></nz-switch>
        </nz-form-control>
      </nz-form-item>

    </nz-tab>

    <nz-tab nzTitle="心跳包">
      <app-tunnel-edit-heartbeat formControlName="heartbeat"></app-tunnel-edit-heartbeat>
    </nz-tab>

    <nz-tab nzTitle="控制包">
      <app-tunnel-edit-control formControlName="control"></app-tunnel-edit-control>
    </nz-tab>

    <nz-tab nzTitle="协议适配">
      <app-tunnel-edit-adapter formControlName="adapter"></app-tunnel-edit-adapter>
    </nz-tab>

  </nz-tabset>


</app-editor>
