<app-editor [(ngModel)]="data" [submitting]="submitting" (submit)="submit()">

  <nz-tabset nzType="card" nzSize="small" [formGroup]="basicForm" (change)="change()">
    <nz-tab nzTitle="基本信息">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input formControlName="name" required/>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="5">企业</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <app-choose-company formControlName="company_id" [showClear]="true"></app-choose-company>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">启用</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <nz-switch formControlName="enable"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>

    <nz-tab nzTitle="协议适配">
	
    </nz-tab>

  </nz-tabset>


</app-editor>
