<app-page-list (create)="create()" createButtonText="加入企业" (refresh)="load()" (search)="search($event)" [loading]="loading">

  <nz-table
    nzSize="small"
    [nzShowPagination]="datum.length > pageSize"
    [nzData]="datum"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"

    (nzQueryParams)="onQuery($event)"
  >
    <thead>
    <tr>
      <th nzColumnKey="name" [nzSortFn]="true">名称</th>
      <th nzColumnKey="member_id" [nzSortFn]="true">加入时间</th>
      <th>启用</th>
      <th nzWidth="100">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of datum; let i=index">
      <td>{{ data.name }}</td>
      <td>{{data.member_id | objectIdToDate | date:'short'}}</td>
      <td>{{data.enable?'√':'×'}}</td>
      <td>
        <a [routerLink]="'/admin/company/detail/'+data._id">详情</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="确定退出？" (nzOnConfirm)="remove(data, i)">退出</a>
      </td>
    </tr>
    </tbody>
  </nz-table>


</app-page-list>
