<app-toolbar>
  <nz-space>
    <button nz-button *nzSpaceItem nzType="default" (click)="clear()">清空</button>
    <button nz-button *nzSpaceItem nzType="default" (click)="sort()">排序</button>
    <button nz-button *nzSpaceItem nzType="primary" (click)="add()">添加</button>
  </nz-space>
</app-toolbar>


<nz-table [nzData]="formArray.controls" [nzFrontPagination]="false" nzSize="small" [formGroup]="formGroup">
  <thead>
  <tr>
    <th>变量</th>
    <th>名称</th>
    <th>类型</th>
    <th>默认</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody formGroupName="items">
  <tr *ngFor="let data of formArray.controls; let i=index" [formGroupName]="i">
    <td>
      <input nz-input formControlName="name" nzSize="small" (change)="change()" required/>
    </td>
    <td>
      <input nz-input formControlName="label" nzSize="small" (change)="change()"/>
    </td>
    <td>
      <nz-select formControlName="type" nzSize="small" (ngModelChange)="change()" (change)="change()" required>
        <nz-option *ngFor="let dt of dataTypes" [nzValue]="dt.value" [nzLabel]="dt.name"></nz-option>
      </nz-select>
    </td>
    <td>
      <input nz-input formControlName="default" nzSize="small" (change)="change()"/>
    </td>
    <td>
      <a (click)="moveUp(i)">上移</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="moveDown(i)">下移</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="remove(i)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
