

<nz-tabset [nzTabBarExtraContent]="extraTemplate">
  <nz-tab nzTitle="元件详情">
    <p>{{data|json}}</p>
  </nz-tab>
  <nz-tab nzTitle="设备实例">
    <ng-template nz-tab>
      <app-element-device [_id]="id"></app-element-device>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="相关模板">
    <ng-template nz-tab>
      <app-element-template [_id]="id"></app-element-template>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="日志">
    <ng-template nz-tab>
      <app-event type="element" [_id]="id"></app-event>
    </ng-template>
  </nz-tab>

</nz-tabset>

<ng-template #extraTemplate>
  <a [routerLink]="'/admin/element/edit/'+id">
    <i nz-icon nzType="form"></i>
  </a>
</ng-template>
