<!--<nz-tabset nzLinkRouter nzType="card" [nzSelectedIndex]="0" (nzSelectChange)="onTabsChange($event)">-->
<!--  <nz-tab *ngFor="let tab of tabs">-->
<!--    <a nz-tab-link [routerLink]="tab.route">{{tab.name}}</a>-->
<!--    <ng-template #container></ng-template>-->
<!--  </nz-tab>-->
<!--</nz-tabset>-->


<div class="tabs">
  <div class="title" *ngFor="let tab of tabs; let i=index"
       [class.active]="i==current"
       (click)="onTabsChange(i)"
       (dblclick)="onTabClose(i)"
  >
    <a [routerLink]="tab.route">
      {{tab.name || tab.route}}
    </a>
    <i nz-icon nzType="close" nzTheme="outline" (click)="onTabClose(i)" *ngIf="tabs.length>1"></i>
  </div>
  <ng-container *ngFor="let tab of tabs; let i=index">
    <div class="content" [hidden]="i!=current">
      <ng-template #container></ng-template>
      <div *ngIf="!tab.component">加载中</div>
    </div>
  </ng-container>
</div>
