<app-toolbar>
  <nz-space>
    <button nz-button *nzSpaceItem nzType="default" (click)="clear()">清空</button>
    <button nz-button *nzSpaceItem nzType="default" (click)="sort()">排序</button>
    <button nz-button *nzSpaceItem nzType="primary" (click)="add()">添加</button>
  </nz-space>
</app-toolbar>


<nz-table [nzData]="formArray.controls" [nzFrontPagination]="false" nzSize="small" [formGroup]="formGroup">
  <thead>
  <tr>
    <th>定时</th>
    <th>命令</th>
    <th>启用</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody formGroupName="items">
  <tr *ngFor="let data of formArray.controls; let i=index" [formGroupName]="i">
    <td>
      <!-- <nz-time-picker formControlName="time" nzFormat="HH:mm" (change)="change()"></nz-time-picker>-->
      <input nz-input formControlName="crontab" nzSize="small" placeholder="" (change)="change()" required/>
    </td>
    <td>
      <input nz-input formControlName="commands" nzSize="small" placeholder="例如：启动, 转速 100" (change)="change()"
             required/>
    </td>
    <td>
      <nz-switch formControlName="enable"></nz-switch>
    </td>
    <td>
      <a (click)="moveUp(i)">上移</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="moveDown(i)">下移</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="remove(i)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
