<app-toolbar>
  <nz-space>
    <button nz-button *nzSpaceItem nzType="default" (click)="clear()">清空</button>
    <button nz-button *nzSpaceItem nzType="default" (click)="sort()">排序</button>
    <button nz-button *nzSpaceItem nzType="primary" (click)="add()">添加</button>
  </nz-space>
</app-toolbar>


<nz-table [nzData]="formArray.controls" [nzFrontPagination]="false" nzSize="small" [formGroup]="formGroup">
  <thead>
  <tr>
    <th>名称</th>
    <th>监听</th>
    <th>脚本</th>
    <th>启用</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody formGroupName="items" cdkDropList (cdkDropListDropped)="drop($event)" >
  <tr *ngFor="let data of formArray.controls; let i=index" [formGroupName]="i" cdkDrag>
    <td>
      <input nz-input formControlName="name" nzSize="small" placeholder="" (change)="change()" required/>
    </td>
    <td>
<!--      <input nz-input formControlName="watches" nzSize="small" placeholder="TODO 使用 tree-select" (change)="change()" required/>-->
      <nz-select nzAllowClear nzMode="tags" [nzTokenSeparators]="[',', '，', ';', ' ']" formControlName="watches" nzSize="small" (ngModelChange)="change()"></nz-select>
    </td>
    <td>
      <app-input-script formControlName="script" nzSize="small"></app-input-script>
    </td>
    <td>
      <nz-switch formControlName="enable"></nz-switch>
    </td>
    <td>
      <a cdkDragHandle style="cursor: move">排序</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="remove(i)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
