<nz-table [nzData]="formArray.controls" [nzFrontPagination]="false" nzSize="small" [formGroup]="formGroup">
  <thead>
  <tr>
    <th>名称</th>
    <th>地址</th>
    <th>类型</th>
    <th>倍率</th>
    <th>保存</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody formGroupName="items">
  <tr *ngFor="let data of formArray.controls; let i=index" [formGroupName]="i">
    <td>
      <input nz-input formControlName="name" nzSize="small" (change)="change()" required/>
    </td>
    <td>
      <input nz-input formControlName="address" nzSize="small" (change)="change()" required/>
    </td>
    <td>
<!--      <input nz-input formControlName="type" nzSize="small" (change)="change()" required/>-->
      <nz-select formControlName="type" nzSize="small" (change)="change()" required style="width: 100px">
        <nz-option nzValue="boolean" nzLabel="BOOLEAN"></nz-option>
        <nz-option nzValue="word" nzLabel="WORD"></nz-option>
        <nz-option nzValue="dword" nzLabel="DWORD"></nz-option>
        <nz-option nzValue="float" nzLabel="FLOAT"></nz-option>
        <nz-option nzValue="double" nzLabel="DOUBLE"></nz-option>
        <nz-option nzValue="uint8" nzLabel="UINT8"></nz-option>
        <nz-option nzValue="uint16" nzLabel="UINT16"></nz-option>
        <nz-option nzValue="uint32" nzLabel="UINT32"></nz-option>
      </nz-select>
    </td>
    <td>
      <input nz-input type="number" formControlName="ratio" nzSize="small" (change)="change()" required/>
    </td>
    <td>
      <nz-switch formControlName="store" nzSize="small" (change)="change()"></nz-switch>
    </td>
    <td>
      <a (click)="moveUp(i)">上移</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="moveDown(i)">下移</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="remove(i)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-space>
  <button nz-button *nzSpaceItem nzType="default" (click)="clear()">清空</button>
  <button nz-button *nzSpaceItem nzType="default" (click)="sort()">排序</button>
  <button nz-button *nzSpaceItem nzType="primary" (click)="add()">添加</button>
</nz-space>
