<button nz-button (click)="create()">创建</button>

<nz-table
  nzShowSizeChanger
  [nzData]="datum"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"

  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th nzColumnKey="name" [nzSortFn]="true">Name</th>
    <th nzColumnKey="gender" [nzFilters]="filterGender" [nzFilterFn]="true">Gender</th>
    <th nzColumnKey="email" [nzSortFn]="true">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of datum">
    <td>{{ data.name }}</td>
    <td>{{ data.gender }}</td>
    <td>{{ data.email }}</td>
  </tr>
  </tbody>
</nz-table>
