<app-toolbar>
  <nz-space>
    <button nz-button *nzSpaceItem nzType="default" (click)="clear()">清空</button>
    <button nz-button *nzSpaceItem nzType="default" (click)="sort()">排序</button>
    <button nz-button *nzSpaceItem nzType="primary" (click)="add()">添加</button>
  </nz-space>
</app-toolbar>


<nz-table [nzData]="formArray.controls" [nzFrontPagination]="false" nzSize="small" [formGroup]="formGroup">
  <thead>
  <tr>
    <th>间隔(s)</th>
    <th>定时</th>
    <th>功能码</th>
    <th>地址</th>
    <th>长度</th>
    <th>启用</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody formGroupName="items" cdkDropList (cdkDropListDropped)="drop($event)" style="cursor: move">
  <tr *ngFor="let data of formArray.controls; let i=index" [formGroupName]="i" cdkDrag>
    <td>
      <nz-input-number formControlName="interval" [nzMin]="1" [nzMax]="65535" [nzStep]="1" nzSize="small" (change)="change()"></nz-input-number>
    </td>
    <td>
      <input nz-input formControlName="crontab" nzSize="small" (change)="change()" required/>
    </td>
    <td>
      <nz-select formControlName="code" nzSize="small" (ngModelChange)="change()" (change)="change()" required style="min-width: 100px">
        <nz-option *ngFor="let code of codes"
                   [nzValue]="code.code" [nzLabel]="code.name"></nz-option>
      </nz-select>
    </td>
    <td>
      <nz-input-number formControlName="address" [nzMin]="0" [nzMax]="65535" [nzStep]="1" nzSize="small" (change)="change()" required></nz-input-number>
    </td>
    <td>
      <nz-input-number formControlName="length" [nzMin]="1" [nzMax]="65535" [nzStep]="1" nzSize="small" (change)="change()" required></nz-input-number>
    </td>
    <td>
      <nz-switch formControlName="enable"></nz-switch>
    </td>
    <td>
      <a (click)="moveUp(i)">上移</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="moveDown(i)">下移</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="remove(i)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
