

<nz-tabset [nzTabBarExtraContent]="extraTemplate">
  <nz-tab nzTitle="基本信息">
    <p>{{data|json}}</p>
  </nz-tab>
  <nz-tab nzTitle="项目">
    <ng-template nz-tab>
      <app-group-project [_id]="id"></app-group-project>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="告警">
    <ng-template nz-tab>
      <app-alarm type="group" [_id]="id"></app-alarm>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="订阅">
    <ng-template nz-tab>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="日志">
    <ng-template nz-tab>
      <app-event type="group" [_id]="id"></app-event>
    </ng-template>
  </nz-tab>

</nz-tabset>

<ng-template #extraTemplate>
  <a [routerLink]="'/admin/group/edit/'+id">
    <i nz-icon nzType="form"></i>
  </a>
</ng-template>
