<div class="toolbar">

  <form nz-space (submit)="search.emit(keyword)">
    <button *nzSpaceItem type="button" nz-button [nzLoading]="loading" (click)="refresh.emit()">
      <i nz-icon nzType="reload"></i>
      刷新
    </button>

    <button *nzSpaceItem nz-button (click)="create.emit()" [hidden]="createDisabled">
      <i nz-icon nzType="plus"></i>
      新建
    </button>

    <nz-input-group *nzSpaceItem nzSearch nzPrefixIcon="search" [nzAddOnAfter]="suffixIconButton" [nzSuffix]="suffixIconClear">
      <input type="text" nz-input placeholder="关键字" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button type="button" nzSearch (click)="search.emit(keyword)">
        搜索
      </button>
    </ng-template>
    <ng-template #suffixIconClear>
        <i nz-icon nzType="close" *ngIf="keyword" (click)="keyword=''; search.emit(keyword)"></i>
    </ng-template>

  </form>

</div>

<ng-content></ng-content>
