

<nz-tabset>
  <nz-tab nzTitle="设备详情">
    <p>{{data|json}}</p>
  </nz-tab>
  <nz-tab nzTitle="可视化" nzDisabled>
    <ng-template nz-tab>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="相关项目">
    <ng-template nz-tab>
      <app-device-project [_id]="id"></app-device-project>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="定时任务">
    <ng-template nz-tab>
      <app-job type="device" [_id]="id"></app-job>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="告警记录">
    <ng-template nz-tab>
      <app-alarm type="device" [_id]="id"></app-alarm>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="日志">
    <ng-template nz-tab>
      <app-event type="device" [_id]="id"></app-event>
    </ng-template>
  </nz-tab>

</nz-tabset>
